<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soraka.admin.dao.MenuDAO">
    <!--所有字段-->
    <sql id="all_fields">
        sys_menu.id,
        sys_menu.name,
        sys_menu.component,
        sys_menu.redirect,
        sys_menu.type,
        sys_menu.url,
        sys_menu.permission,
        sys_menu.ico,
        sys_menu.parent_id,
        sys_menu.sequence,
        sys_menu.status,
        sys_menu.create_time,
        sys_menu.modify_time
    </sql>
    <select id="get" resultType="com.soraka.admin.model.domain.MenuDO" parameterType="java.lang.Long">
        SELECT
            <include refid="all_fields"/>
        FROM
            sys_menu sys_menu
        WHERE
            id = #{id}
    </select>
    <select id="findByUserId" resultType="com.soraka.admin.model.domain.MenuDO" parameterType="java.lang.Long">
        SELECT
        <include refid="all_fields"/>
        FROM
        sys_menu
        JOIN sys_role_menu um ON um.menu_id = sys_menu.id
        JOIN sys_user_role ur ON um.role_id = ur.role_id
        WHERE
        ur.user_id = #{userId}
    </select>
    <select id="find" resultType="com.soraka.admin.model.domain.MenuDO" parameterType="com.soraka.admin.model.dto.QueryParam">
        SELECT
        <include refid="all_fields"/>
        FROM
        sys_menu
        <where>
            <if test="queryText != null and queryText.trim() != ''">
                OR name = #{queryText}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
            <otherwise>
                ORDER BY sys_menu.id DESC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>
    <select id="count" resultType="java.lang.Integer" parameterType="com.soraka.admin.model.dto.QueryParam">
        SELECT COUNT(*) FROM
        sys_menu
        <where>
            <if test="queryText != null and queryText.trim() != ''">
                AND name = #{queryText}
            </if>
        </where>
    </select>
    <insert id="save" parameterType="com.soraka.admin.model.domain.MenuDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_menu (
            name,
            type,
            url,
            permission,
            ico,
            parent_id,
            sequence
        )
        VALUES
        (
            #{name},
            #{type},
            #{url},
            #{permission},
            #{ico},
            #{parentId},
            #{sequence}
        )
    </insert>
    <update id="update" parameterType="com.soraka.admin.model.domain.MenuDO">
        UPDATE sys_menu
        <set>
            <if test="name != null">name = #{name}, </if>
            <if test="type != null">type = #{type}, </if>
            <if test="url != null">url = #{url}, </if>
            <if test="permission != null">permission = #{permission}, </if>
            <if test="ico != null">ico = #{ico}, </if>
            <if test="parentId != null">parent_id = #{parentId}, </if>
            <if test="sequence != null">sequence = #{sequence}, </if>
            <if test="status != null">status = #{status}, </if>
            modify_time = now()
        </set>
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM sys_menu WHERE id = #{id}
    </delete>

    <select id="getRoleMenu" resultType="com.soraka.admin.model.domain.MenuDO" parameterType="java.lang.String">
        SELECT
            DISTINCT
            <include refid="all_fields"/>
        FROM
            sys_menu
        JOIN sys_role_menu um ON um.menu_id = sys_menu.id
        JOIN sys_role ro ON um.role_id = ro.id
        WHERE
            ro.key IN
            <foreach collection="roleKeys" item="roleKey" open="(" close=")" separator=",">
                #{roleKey}
            </foreach>
    </select>
</mapper>
