<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soraka.admin.dao.RoleMenuDAO">

    <select id="findMenuIdsByRoleId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT menu_id FROM sys_role_menu WHERE role_id = #{roleId}
    </select>

    <delete id="deleteByRoleId" parameterType="java.lang.Long">
        DELETE FROM sys_role_menu WHERE role_id = #{roleId}
    </delete>

    <insert id="batchSave">
        INSERT INTO sys_role_menu(role_id, menu_id) values
        <foreach item="item" index="index" collection="roleMenus"
                 separator=",">
            (#{item.roleId},#{item.menuId})
        </foreach>
    </insert>
</mapper>
